.container{
    width:600px;
    height:30vh;
    background-color: yellow;
    position: relative;
}

.box1{
    width:100px;
    height:100px;
    background-color: red;
   position: absolute;
   left:20px;
    
}


.box2{
    width:100px;
    height:100px;
    background-color: aqua;
   position: absolute;
   left:20px;
   margin-top:50px;
    
}



.box3{
    width:100px;
    height:100px;
    background-color: red;
   position: relative;
   left:20px;
    
}


.box4{
    width:100px;
    height:100px;
    background-color: aqua;
   position:relative;
   left:20px;
   margin-top:15px;
    
}

.box5{

    width:100px;
    height:100px;
    background-color: brown;
    position: fixed;
    right:0;
    top:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box6{

    width:100px;
    height:100px;
    background-color: chartreuse;
    position: sticky;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box7{
    width:100px;
    height:100px;
    background-color: red;
   position: static;
   left:20px;
    
}


.box8{
    width:100px;
    height:100px;
    background-color: aqua;
   position: static;
   left:20px;
   margin-top:15px;
    
}



